.about {
  background: var(--dark);
  padding: 100px 0;
  color: var(--white);
  padding-bottom: 50px;
  overflow-x: hidden;
}

.about .line {
  border-bottom: 1px solid var(--white);
  margin-top: 50px;
}

h1 {
  font-family: var(--montserrat);
  font-size: 60px;
  margin-bottom: 60px;
}

.about .left {
  width: 45%;
}
.about .row {
  align-items: center;
}
.about .left h1 {
  margin-bottom: 40px;
}

.about_center {
  background: var(--dark);
  padding: 100px 0;
  overflow-x: hidden;
}

.about_center h1 {
  color: var(--white);
  margin-top: 0;
}
.about .left p {
  font-family: var(--montserrat);
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 1.7;
}
.about .right {
  width: 45%;
}

.about .right img {
  width: 100%;
}

.row {
  justify-content: space-between;
}

.title {
  margin-top: 100px;
  text-align: center;
  padding-bottom: 50px;
}

.office {
  height: 400px;
}

.office iframe {
  border: none !important;
  margin-bottom: 0;
  height: 100%;
}

.box {
  font-family: var(--montserrat);
  /* background: var(--grey); */
  color: var(--white);
  width: 30%;
  padding: 85px 25px 30px 25px;
  position: relative;
  height: 500px;
  border-radius: 5px;
  /* box-shadow: 0px 0px 20px 1px var(--grey); */
  transition: 0.3s;
  border: 2px solid var(--grey);
}

.box:hover {
  box-shadow: 0px 0px 20px 1px var(--grey);
}

.box h3 {
  font-size: 23px;
  margin-bottom: 20px;
  min-height: 56px;
  display: grid;
  align-items: center;
  text-align: center;
}

.box p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.box .head {
  width: 150px;
  height: 150px;
  background: var(--dark);
  border-radius: 50%;
  position: absolute;
  top: -15%;
  left: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--grey);
}

.box .head svg {
  fill: var(--white);
  width: 50%;
}

.box .head img {
  width: 60%;
  filter: invert(1);
}

.box h4 {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-family: var(--roboto);
}

.about2 {
  background: var(--dark);
  overflow-x: hidden;
  border-top: 1px solid white;
}

.about2 .left {
  width: 100%;
  padding: 50px 0;
}

.about2 .left .item {
  color: var(--white);
  width: 46%;
}

.about2 .left .item p {
  font-family: var(--montserrat);
  color: var(--white);
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.about2 .left .item p span {
  font-weight: 500;
}
.about2 .left .line {
  width: 1px;
  background: var(--white);
}

.about2 .left img {
  height: 70px;
}

.about2 .left .top {
  text-align: center;
  margin-bottom: 30px;
}

.about2 .row_big {
  align-items: center;
  justify-content: space-around;
}

.about2 .right {
  width: 450px;
  position: relative;
}

.about2 .mb {
  display: none;
}
.about2 .right .rightImg {
  width: 100%;
  object-fit: cover;
}

.about2 .right .shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.about2 .right .shadow2 {
  left: auto;
  right: 0;
}

@media (max-width: 1310px) {
  .box {
    width: 33%;
  }

  .about2 {
    padding: 30px 0;
  }
}
@media (max-width: 1201px) {
  .about .row {
    align-items: center;
  }

  .box h3 {
    font-size: 20px;
  }
  h1 {
    font-family: var(--montserrat);
    font-size: 50px;
    margin-bottom: 50px;
  }

  .about .left {
    width: 50%;
  }

  .about .left p {
    margin-bottom: 17px;
    font-size: 16px;
  }

  .about {
    padding: 70px 0;
  }

  .about .left p {
    font-size: 17px;
  }

  .about2 .left svg {
    width: 60px;
  }

  .about2 h1 {
    margin-bottom: 40px;
    text-align: left;
  }

  .about2 .left .item p {
    font-size: 15px;
  }

  .about2 .left .top {
    margin-bottom: 10px;
  }

  .about2 .right {
    width: 400px;
  }
}

@media (max-width: 1001px) {
  .box {
    padding: 85px 10px 30px 10px;
  }

  .box .head {
    width: 120px;
    height: 120px;
    top: -12%;
    left: 33%;
  }

  .about_center {
    padding: 70px 0;
  }
}

@media (max-width: 850px) {
  .office {
    height: 600px;
  }

  .about {
    padding: 20px 0;
  }
  .about .line {
    margin-top: 20px;
  }
  .about_center .row {
    flex-direction: column;
  }
  .box {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    padding-top: 20px;
    text-align: center;
  }

  .box .head {
    position: static;
    margin: auto;
    margin-bottom: 30px;
  }

  .box h4 {
    position: static;
    text-align: center;
    transform: none;
  }

  .about .row {
    flex-direction: column;
  }
  .about .left,
  .about .right {
    width: 100%;
  }
  .about_center {
    padding: 25px 0;
  }

  .title {
    margin-bottom: 0px;
  }

  .about2 .row {
    width: 100%;
  }
  .about2 .left img {
    height: 60px;
  }
  .about2 .left .item p {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .office {
    height: 500px;
  }

  .about2 .left .item {
    width: 100%;
  }
  .about2 h1 {
    margin-bottom: 15px;
    font-size: 35px;
    text-align: center;
  }
  .about2 .left .item p {
    font-size: 14px;
  }

  .about_center h1 {
    font-size: 25px;
    padding-bottom: 20px;
  }
  .about_center {
    padding-top: 0;
    padding-bottom: 0;
  }
  .about_center .box {
    margin-bottom: 15px;
  }
  h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
  }
  .about {
    padding-top: 20px;
  }
  .about2 .left svg {
    width: 45px;
    height: 45px;
    margin-top: 20px;
  }
  .about .left h1 {
    margin-bottom: 10px;
  }

  .about .left {
    text-align: center;
  }
}
