.map {
  width: 100%;
  height: 700px;
}
iframe {
  border: none !important;
  margin: 0 !important;
  height: 100%;
}

.service {
  background-color: var(--dark);
  color: var(--white);
  overflow: hidden;
}

.row {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}

.service .left {
  width: 60%;
}
.service .right {
  width: 40%;
}

.service .right img {
  width: 100%;
}

.service h1 {
  margin-bottom: 50px;
  margin-top: 80px;
}

.service .left .block {
  width: 260px;
  font-family: var(--montserrat);
  text-align: center;
  padding: 7px;
  margin-bottom: 10px;
}
.service .left_row {
  align-items: center;
  display: flex;
}

.service .left .block h2 {
  font-size: 50px;
  height: 60px;
}

.service .left .block h4 {
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  height: 97px;
}

.service .left .block p {
  height: 120px;
}

@media (max-width: 1368px) {
  .service .left {
    width: 65%;
  }
  .service .right {
    width: 35%;
  }
}
@media (max-width: 1263px) {
  .service .left {
    width: 60%;
  }
  .service .right {
    width: 40%;
  }

  .service .left .block {
    width: 33%;
  }
}
@media (max-width: 1100px) {
  .service .left {
    width: 60%;
  }
  .service .right {
    width: 40%;
  }

  .service .left .block {
    width: 48%;
  }
  .service .left .block p {
    height: 70px;
    margin-bottom: 10px;
  }
}

@media (max-width: 850px) {
  .service h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .map {
    width: 100%;
    height: 800px;
  }

  .service .left {
    width: 100%;
  }
  .service .right {
    width: 70%;
    margin: auto;
  }

  .service .left .block {
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .service .left .block p {
    height: 70px;
    margin-bottom: 10px;
  }

  .service .left .block h4 {
    display: block;
    margin-top: 20px;
    height: 80px;
  }
}

@media (max-width: 550px) {
  .service h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 35px;
  }

  .service .left {
    margin-bottom: 20px;
  }
  .service .left .block {
    padding: 0 5px;
  }
  .service .left .block h2 {
    font-size: 40px;
    height: 40px;
  }

  .service .left .block h4 {
    font-size: 17px;
    line-height: 23px;
    height: 65px;
  }

  .service .left .block p {
    height: 90px;
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .map {
    width: 100%;
    height: 700px;
  }

  .service h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 25px;
  }

  .service .left .block h2 {
    font-size: 30px;
    height: 30px;
  }

  .service .left .block h4 {
    font-size: 15px;
    line-height: normal;
    height: 65px;
  }

  .service .left .block p {
    height: 60px;
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .service .left .block p {
    height: 90px;
    font-size: 11px;
  }
}
