.bars {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 40px;
  justify-content: space-between;
  position: fixed;
  right: 30px;
  top: 30px;
  cursor: pointer;
  z-index: 5;
}

.bars .line {
  width: 100%;
  height: 3px;
  background: var(--black);
}

.navbarBars {
  position: fixed;
  top: 0;
  left: -1px;
  height: 100vh;
  width: 101%;
  transition: 0.1s;
  opacity: 0;
  z-index: -1;
  background: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarBars .bars .line {
  background: var(--white);
}

.navbarBars.active {
  opacity: 1;
  z-index: 5;
}

.navbarBars ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navbarBars ul li {
  margin-bottom: 30px;
}

.navbarBars ul li a {
  font-size: 30px;
  font-weight: 500;
  color: var(--white);
  font-family: var(--montserrat);
}

@media (max-width: 350px) {
  .navbarBars ul li a {
    font-size: 25px;
  }

  .navbarBars ul li {
    margin-bottom: 20px;
  }
}
